.header {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.8rem; 
        background-color: rgb(32, 32, 32) ;
        border: .05rem solid $border-color;
        color: $font-color;
    }

    input {
        height: 1.7rem;
        background-color: rgb(54, 54, 54);
        border: .05rem solid $border-color;
        margin: 0 .2rem 0 .2rem;
    }

    .group__left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .button__type{
            width: 6rem;
        }
        .input__url {
            width: 15rem;
        }
        .button__send{
            width: 4rem;
            
        }
    }
    .group__right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .button__presets{
            width: 5.5rem;
        }
        .input__presets {
            width: 10rem;
        }
        .button__add{
            width: 2rem;
            margin-right: .15rem;
        }
        .button__save{
            width: 4rem;
        }
    }
    
}






