span,
applet,
object,
iframe,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
button,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $background-color;
  color: $font-color;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(710px, 710px) 1fr;
  grid-template-rows: minmax(85vh, 85vh);
  gap: 0px 0px;
  grid-template-areas: 'main output';
}

.container__output {
}

.container__main {
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-rows: 30px 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'header header'
    'sidebar input';
  grid-area: main;
  padding: 0 0.6rem 0 0.6rem;
}

.container__header {
  grid-area: header;
}

.container__input {
  grid-area: input;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__sidebar {
  grid-area: sidebar;
  margin-top: 1rem;
}

.cm-s-material {
  background-color: $background-color !important;
  .CodeMirror-gutters,
  .CodeMirror-scrollbar-filler {
    background-color: $background-color !important;
  }
}

select {
  background-color: var(--vscode-dropdown-background);
  height: 1.8rem;
  margin: 0 0.2rem 0 0.2rem;
}

input:hover,button:hover {
  background-color: var(--vscode-editor-hoverHighlightBackground);
}

input, button {
  background-color: var(--vscode-input-background);
}

select,
button,
input {
  border: 0.05rem solid $border-color;
  color: $font-color !important;
  font: inherit !important;
  outline: none !important;
}
