.header {
  width: 100%;
  justify-content: space-between;
  padding: 0.15rem 0;

  select,
  button,
  input {
    height: -webkit-fill-available;
  }

  .select__domain {
    justify-content: flex-start;
    padding-left: 0.3rem;

    .select__type {
      width: 5.5rem;
      text-align-last: right;
      padding-right: 16px;
      margin-left: 0.2rem;
    }
    .select__endpoint {
      width: 15rem;
      padding-left: 5px;
      margin-left: 1.5rem;
    }
  }
  .button__send {
    width: 5rem;
  }
  .select__preset {
    .select__preset {
      width: 14rem;
      padding-left: 5px;
    }
    .preset_name {
      width: 12rem;
      padding-left: 5px;
    }

    .button__add {
      width: 2rem;
      margin: 0 0.3rem;
    }

    .button__save {
      width: 4rem;
      margin: 0 0.3rem;
    }
    .button__rmPreset {
      width: 2rem;
    }
  }
}

.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
