.header {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  select {
    height: 1.8rem;
    border: 0.05rem solid $border-color;
    color: inherit;
    margin: 0 0.2rem 0 0.2rem;
    font: inherit;
    outline: none;
  }
  button {
    outline: none;
  }
  input {
    outline: none;
  }
  .select__endpoint {
    width: 15rem;
    color: $font-color;
    padding-left: 5px;
    background-color: rgb(54, 54, 54);
  }

  form {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    .group__left {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .select__type {
        width: 6rem;
        text-align-last: right;
        padding-right: 16px;
        background-color: rgb(32, 32, 32);
      }

      .button__send {
        width: 4rem;
        height: 1.8rem;
        background-color: rgb(32, 32, 32);
        border: 0.05rem solid $border-color;
        color: $font-color;
        margin-left: 0.2rem;
      }
    }
    .group__right {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .select__preset {
        width: 14rem;
        color: $font-color;
        padding-left: 5px;
        background-color: rgb(54, 54, 54);
      }
      .preset_name {
        background-color: $background-color;
        border-bottom: 1px solid $font-color;
        line-height: 1.6rem;
        width: 12rem;
        outline: none;
        color: inherit;
      }
      div {
        display: flex;
        align-items: center;
        .button__add {
          width: 2rem;
          height: 1.8rem;
          background-color: rgb(32, 32, 32);
          border: 0.05rem solid $border-color;
          color: $font-color;
          margin-left: 0.2rem;
        }
      }
      .button__save {
        width: 4rem;
        height: 1.8rem;
        background-color: rgb(32, 32, 32);
        border: 0.05rem solid $border-color;
        color: $font-color;
        margin-left: 0.4rem;
      }
      .button__rmPreset {
        width: 2rem;
        height: 1.8rem;
        background-color: rgb(32, 32, 32);
        border: 0.05rem solid $border-color;
        color: $font-color;
        margin-left: 0.5rem;
      }
    }
  }
}
