.input__header,
.input__cookie {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  padding-top: 15px;
  .header__li,
  .cookie__li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.8rem;
    padding-left: 2rem;
    width: 100%;
    input {
      background-color: $background-color;
      border-bottom: 1px solid $font-color;
      margin-left: 1rem;
      line-height: 1.4rem;
      width: 40%;
      outline: none;
      color: inherit;
    }
    button {
      width: 2rem;
      height: 1.8rem;
      background-color: $background-color;
      color: $font-color;
      outline: none;
      margin-left: 0.2rem;
    }
  }
}

.bottom__buttons {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  .button__wipe {
    width: 6rem;
    height: 1.5rem;
    background-color: rgb(32, 32, 32);
    border: 0.05rem solid $border-color;
    color: $font-color;
    margin-right: 0.4rem;
    outline: none;
  }
  .button__watch {
    width: 6rem;
    height: 1.5rem;
    background-color: rgb(0, 107, 57);
    border: 0.05rem solid $border-color;
    color: $font-color;
    margin-right: 0.4rem;
    outline: none;
  }
  .button__noWatch {
    width: 6rem;
    height: 1.5rem;
    background-color: rgb(32, 32, 32);
    border: 0.05rem solid $border-color;
    color: $font-color;
    margin-right: 0.4rem;
    outline: none;
  }
}
.input__data {
  height: 100%;
  width: 100%;
  .react-codemirror2 {
    flex: 1 1 auto;
    margin-top: 0;
    height: 100%;
    position: relative;
    .CodeMirror {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
    }
  }
  .warningHide {
    display: none;
  }
  .warningShow {
    color: red;
  }
}
