.header__form,
.cookie__form {
  height: 100%;
  width: 100%;
  input::-webkit-input-placeholder {
    padding-left: 0.3rem;
  }
  .input__header,
  .input__cookie {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    padding-top: 15px;
    .header__li,
    .cookie__li {
      justify-content: flex-start;
      margin-bottom: 0.8rem;
      padding-left: 2rem;
      width: 100%;
      input {
        border: none;
        border-bottom: 1px solid $font-color;
        background-color: $background-color;
        margin-left: 1rem;
        line-height: 1.4rem;
        width: 40%;
      }
      button {
        width: 2rem;
        background-color: $background-color;
        height: 1.4rem;
        margin-left: 0.2rem;
        border: none;
      }
    }
  }
}

.input__data {
  height: 100%;
  width: 100%;
  .react-codemirror2 {
    flex: 1 1 auto;
    margin-top: 0;
    height: 100%;
    position: relative;
    .CodeMirror {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
    }
  }
  .warningHide {
    display: none;
  }
  .warningShow {
    color: red;
  }
}

.input__params {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 15px;
  .param {
    margin-left: 2rem;
    margin-top: 1rem;
    input {
      border: none;
      border-bottom: 1px solid $font-color;
      margin-left: 1rem;
      line-height: 1.4rem;
      width: 30%;
    }
  }
  button {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 6rem;
    height: 1.8rem;
  }
}
