.output__header {
  display: flex;
  align-items: center;
  margin-top: 2px;

  .header__verbose {
    display: flex;
    width: 100%;
    .header__nav {
      display: flex;
      .button__main,
      .button__response,
      .button__header,
      .button__info {
        outline: none;
        width: 7rem;
        height: 1.8rem;
        background-color: rgb(32, 32, 32);
        border-bottom: 0.05rem solid $border-color;
        color: $font-color;
      }
      .selected {
        border: 0.05rem solid $border-color;
        border-bottom: none;
      }
    }
  }
  .button__terminal {
    width: 4rem;
    height: 1.8rem;
    background-color: rgb(32, 32, 32);
    border: 0.05rem solid $border-color;
    color: $font-color;
  }
  .header__metrics {
    display: flex;
    border-bottom: 0.05rem solid $border-color;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding-right: 1rem;
    span {
      background-color: var(--vscode-button-secondaryBackground);
      color: $font-color;
      margin: 0 0.5rem;
      padding: 0 1rem;
    }
  }
}

.watch__main {
  border-left: 0.05rem solid $border-color;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  .output__item {
    margin: 0.4rem 0 0.4rem 0;
    color: green;
  }
  .error {
    color: rgb(211, 1, 1);
  }
}

.verbose__response {
  border-left: 0.05rem solid $border-color;
  height: 100%;
  .react-codemirror2 {
    flex: 1 1 auto;
    margin-top: 0;
    height: 100%;
    position: relative;
    .CodeMirror {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
    }
  }
}
.verbose__info {
  height: 100%;
  border-left: 0.05rem solid $border-color;
}

.verbose__header {
  border-left: 0.05rem solid $border-color;
  .ReactTable .rt-th,
  .ReactTable .rt-td {
    white-space: normal;
  }
  .ReactTable {
    height: 85vh;
    border: none;
    .rt-thead {
      height: 0;
    }
    .-btn {
      color: $font-color;
      background-color: var(--vscode-button-secondaryBackground);
    }
    .rt-noData {
      display: none;
    }
  }
  .ReactTable.-striped .rt-tr.-odd {
    background: rgba(0, 0, 0, 0.175);
  }
  // .ReactTable.-highlight .rt-tbody .rt-tr:not(.-padRow):hover {
  //   background: rgba(0, 0, 0, 0.02);
  // }
}
