.input__settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 1rem 0 0 1rem;
  .input__parse {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    p {
      margin: 0 0 0.2rem 4.8rem;
      color: inherit;
      font-size: 0.9rem;
    }
    div {
      display: flex;
      align-items: flex-start;

      .input__port {
        background-color: $background-color;
        border-bottom: 1px solid $font-color;
        line-height: 1.7rem;
        width: 3.5rem;

        outline: none;
        color: inherit;
        padding-left: 0.6rem;
      }

      .select__path {
        height: 1.8rem;
        border: 0.05rem solid $border-color;
        color: inherit;
        margin: 0 0 0 1.3rem;
        outline: none;
        width: 25rem;
        background-color: rgb(54, 54, 54);
        cursor: pointer;
      }
      .button__send {
        width: 4rem;
        height: 1.8rem;
        background-color: rgb(32, 32, 32);
        border: 0.05rem solid $border-color;
        color: $font-color;
        margin-left: 0.2rem;
        outline: none;
        cursor: pointer;
      }
      .error__port {
      }
      .port__error {
        color: red;
      }
    }
  }
  .setting__watch {
    width: 300px;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 25px;
      background-color: #2c2c2c;
      color: #000;
      margin-right: 1rem;
    }

    .switch.off,
    .switch.on {
      cursor: pointer;
    }

    .switch.off:before,
    .switch.on:before {
      display: block;
      position: absolute;
      content: '';
      height: 25px;
      width: 25px;
    }

    .switch.on:before {
      background-color: #adadad;
    }

    .switch.off:before {
      background-color: var(--vscode-button-secondaryBackground);
    }

    .switch.off:after {
      display: block;
      position: absolute;
      content: '';
    }

    .switch.on:before {
      -webkit-transform: translateX(25px);
      -ms-transform: translateX(25px);
      transform: translateX(25px);
    }

    .switch.on:after {
      position: absolute;
      content: '';
    }
  }
  .setting__wipe {
    width: 300px;
    display: flex;
    align-items: center;
    .button__wipe {
      width: 3.5rem;
      height: 1.8rem;
      background-color: #2c2c2c;
      color: rgb(255, 37, 37);
      margin-right: 1rem;
      cursor: pointer;
      outline: none;
    }
  }
}
