.input__settings {
  height: 100%;
  width: 100%;
  padding: 1rem 0 0 1rem;

  select,button,input {
      height: 1.8rem;;
  }

  .input__parse {
    margin-bottom: 1.5rem;

    div {
      display: flex;
      align-items: center;

      .input__port {
        margin: 0 0.3rem;
        width: 3.5rem;
        padding-left: 0.6rem;
      }

      .select__path {
        width: 19rem;
        cursor: pointer;
      }
      .button__send {
        width: 4rem;
        cursor: pointer;
      }
      .port__error {
        color: red !important;
      }
      .parsed {
          margin-left: 1rem;
          color: green;
          font-size: 1rem;
      }
      .valid__port {
        margin-left: 1rem;
        color: red;
        font-size: 1rem;
      }
    }
  }
  .setting__wipe {
    align-items: center;
    .button__wipe {
      width: fit-content;
      padding: 0 0.5rem;
      margin-right: 1rem;
      cursor: pointer;
    }
    .yes,
    .no {
      margin: 0 0.5rem;
    }
  }
}
