.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 5.5rem;
    height: 2.4rem;
    margin-bottom: 0.8rem;
  }
  .active {
    background-color: var(--vscode-statusBarItem-activeBackground);
  }
}
