.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button {
    width: 5.5rem;
    height: 2.2rem;
    background-color: var(--vscode-button-secondaryBackground);
    border: 0.05rem solid $border-color;
    color: $font-color;
    margin-bottom: 0.5rem;
    outline: none;
  }
  button:hover {
    background-color: var(--vscode-button-secondaryHoverBackground);
    color: white;
  }
  button:active {
    border-color: var(--vscode-focusBorder);
  }
}
